{% extends "layout.html" %}
{% block title %}Events{% endblock %}
{% block body %}
  	{% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}
	<form action="" method="post">
		<h2>Add New Project</h2>
		<dl>
		  <dt>Project Name:
		  <dd><input type="text" name="name" size="20" autocomplete="off" value="{{ request.form.name }}">
		  <dt>Due Date:
		  <dd><input type="date" name="date" size="30" min="2019-10-29">
		</dl>
		<div class="actions"><input type="submit" value="Create Event"></div>
	</form>
{% endblock %}