{% extends "layout.html" %}
{% block title %}Asssignments{% endblock %}
{% block body %}
  <div class="assignments_table">
    <h2 class="owner_header">Assignments</h2>
    <table>
      <tr>
        <th>Assignment Name</th>
        <th>Due Date</th>
        <th>Type</th>
        <th>Progress</th>
        <th>Actions</th>
      </tr>
      {% for assignment in assignments %}
      <tr>
        <td>{{ assignment.name }}</td>
        <td class="due_date">{{ assignment.due_date.date() }}</td>
       	<td>{{ assignment.assignment_type }}</td>
       	<td>
            <progress value={{ assignment.progress }} max="100"></progress>
        </td>
       	<td>
            <a href="/delete_assignment/{{assignment.assignment_id}}" class="action_link">Delete</a>
            <br>
            <a href="/update_progress/{{assignment.assignment_id}}" class="action_link">Update Progress</a>
        </td>
      </tr>
      {% else %}
        <li><em>No upcoming assignments.</em></li>
      {% endfor %}
      </ul>
    </table>  
  </div>
{% endblock %}