{% extends "layout.html" %}
{% block title %}Calendar View{% endblock %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/calendar.css">
{% endblock %}

{% block body %}
	<h2 id="calendar_view">Calendar View</h2>
	<div id="calendar"></div>  
	<script>
		var events_data = {
			value: {{ data|tojson }}
		};
	</script>
{% endblock %}

{% block javascript %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
	<script src="/static/calendar.js"></script>
{% endblock %}