{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block body %}
  {% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}
  <div class="form-page">
    <div class="form">
      <h2>Sign Up</h2>
      <form class="login-register-form" action="" method="post">
        <input type="text" placeholder="username" name="username" autocomplete="off" />
        <input type="password" placeholder="password" name="password" />
        <input type="password" placeholder="password (repeat)" name="password2" />
        <div class="actions"><input class="submit" type="submit" value="Sign up"></div>
        <p class="message">Already registered? <a href="/login">Sign In</a></p>
      </form>
    </div>
  </div>
{% endblock %}